.center {
  display: grid;
  align-items: center;
  justify-content: center;
}

.custom-badge {
  width: fit-content;
  display: inline-block;
  position: relative;
  line-height: normal !important;
  background-color: #e8e8e880;
  padding: 3px 9px;
  color: $heading-font;
  &.small {
    background-color: $black-transperant;
  }
  &.different {
    background-color: rgba(232, 232, 232, 0.1);
    color: $white;
  }
  &::before {
    content: "";
    display: inline-block;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 4px;
    background: linear-gradient(94deg, #ffb629 -1.21%, #ffda56 58.66%, #ffd7a6 116.84%);
  }
}

// button
.button,
button {
  display: inline-block;
  padding: 17px 48px;
  width: fit-content;
  a {
    color: #23212a;
    font-family: "Krub", sans-serif !important;
    font-size: 1rem;
    font-style: normal;
    font-weight: 600;
    line-height: 135.023%; /* 1.35025rem */
  }
  &.btn-yellow {
    background: $gradient-yellow;
  }
  &.btn-blue {
    a {
      color: $white;
    }
    background-color: $primary-color2;
  }
}
