//Primary Colors
$primary-color1: #ffbe34;
$primary-color2: #091242;

// Secondary Colors
$secondary-color1: #f4f4f4;

// Font Colors
$heading-font: #1c1f35;
$para-font: #666c89;
$yellow-font: #ffb629;

$white: #fff;

// Gradients
$gradient-yellow: linear-gradient(
  94deg,
  #ffb629 -1.21%,
  #ffda56 50.75%,
  #ffd7a6 102.71%
);

// Transperant colors
$black-transperant: #041c3780;
